.trending__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product-list-grid {
    .trending__grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}


@media (max-width: 1200px) {
    .trending__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .product-list-grid {
        .trending__grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (max-width: 992px) {
    .trending__grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .product-list-grid {
        .trending__grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
}

@media (max-width: 768px) {
    .trending__grid {
        grid-template-columns: 1fr;
    }

    .product-list-grid {
        .trending__grid {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 540px) {
    .trending__grid {
        grid-template-columns: 1fr;
    }

    .product-list-grid {
        .trending__grid {
            grid-template-columns: 1fr;
        }
    }
}