<footer class="footer">
    <div class="footer__container">
        <section class="footer__grid">
            <div class="footer__column">
                <div class="footer__block">
                    <h4 class="footer__title">Online Shopping</h4>
                    <ul class="footer__list">
                        <li><a href="#">Men</a></li>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Kids</a></li>
                        <li><a href="#">Home & Living</a></li>
                        <li><a href="#">Beauty</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Fluid Insider</a></li>
                    </ul>
                </div>
                <div class="footer__block">
                    <h4 class="footer__title">Useful Links</h4>
                    <ul class="footer__list">
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Corporate Information</a></li>
                        <li><a href="#">Whitehat</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer__column">
                <h4 class="footer__title">Customer Policies</h4>
                <ul class="footer__list">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">T&C</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Track Orders</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Cancellation</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Grievance Redressal</a></li>
                </ul>
            </div>

            <div class="footer__column">
                <h4 class="footer__title">Keep In Touch</h4>
                <div class="footer__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <a href="#"><i class="fa fa-play-circle"></i></a>
                    <a href="#"><i class="fa fa-camera"></i></a>
                </div>
            </div>

            <div class="footer__column footer__features">
                <div class="feature">
                    <i class="fa fa-check-circle"></i>
                    <div>
                        <h5>100% ORIGINAL guarantee</h5>
                        <p>for all products at fluidenterprise.com</p>
                    </div>
                </div>

                <div class="feature">
                    <i class="fa fa-undo"></i>
                    <div>
                        <h5>Return within 14 days</h5>
                        <p>of receiving your order</p>
                    </div>
                </div>

            </div>

        </section>

        <section class="footer__popular">
            <h4 class="footer__title">Popular Searches</h4>
            <div class="footer__tags">
                <a href="#">Gifts</a><span>|</span>
                <a href="#">Masks</a><span>|</span>
                <a href="#">Adidas</a><span>|</span>
                <a href="#">Nike</a><span>|</span>
                <a href="#">Puma</a><span>|</span>
                <a href="#">Dresses</a><span>|</span>
                <a href="#">Shoes</a><span>|</span>
                <a href="#">Watches</a>
            </div>
        </section>

        <!-- COPYRIGHT -->
        <section class="footer__bottom">
            <p>© 2024 The Fluid Enterprise. All rights reserved.</p>
        </section>

    </div>

</footer>