<section class="category" [ngClass]="customClass">
    <div class="container">
        @if (heading) {
        <header class="category__header">
            <h2>{{ heading }}</h2>
        </header>
        }
        <div class="category__grid">
            @for (item of data; track $index){
            <a class="category-card" [routerLink]="['/', item.path]">
                <div class="category-card__image">
                    <img [src]="item.image" alt="{{ item.name }}" />
                </div>
                <div class="category-card__content">
                    <h3>{{ item.name }}</h3>
                </div>
            </a>
            }
        </div>
    </div>
</section>