<app-header></app-header>

<main class="home">

  <!-- HERO -->
  <section class="hero">
    <div class="container hero__content">
      <div class="hero__text">
        <p class="hero__tag">CURATED COLLECTION 2024</p>
        <h1 class="hero__title">
          The Art of <br />
          <span class="gradient-text">Fluidity.</span>
        </h1>
        <p class="hero__desc">
          Experience a digital marketplace where luxury meets enterprise reliability.
          Curated for the modern professional.
        </p>
        <div class="hero__actions">
          <a routerLink=""><button class="btn primary"> Shop Collections</button></a>
          <a routerLink="/"><button class="btn link">
              View Lookbook <i class="fa fa-arrow-right"></i>
            </button></a>
        </div>
      </div>
      <div class="hero__image">
        <div class="image-card">
          <img
            src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/s/y/w/free-tiranga9601-smc-sareemall-unstitched-original-imah8eqbkzewzq6z.jpeg?q=70"
            alt="Hero" />
          <div class="image-card__info">
            <p class="tag">New Arrival</p>
            <p class="title">Linear Sculpture Dress</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Banner Section -->
  <section class="banner">
    <div class="container">
      <swiper-container #swiperRefBanner class="banner__swiper" init="false">
        <swiper-slide *ngFor="let img of banners">
          <img [src]="img" class="banner-img" />
        </swiper-slide>
        <!-- <div class="swiper-pagination"></div> -->
      </swiper-container>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>

  <!-- BRANDS -->
  <section class="brands">
    <div class="container">
      <p class="brands__title">
        FEATURED IN THE ENTERPRISE ECOSYSTEM
      </p>
      <swiper-container #swiperRefBrand class="brands__swiper" init="false">
        <swiper-slide *ngFor="let brand of brands">
          <div class="brand-item">
            {{ brand }}
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </section>


  <!-- TRENDING CATEGORIES -->
  <section class="category">
    <div class="container">
      <header class="category__header">
        <h2>Shop By Category</h2>
      </header>
      <div class="category__grid">
        <a class="category-card" *ngFor="let item of categories" href="#">
          <div class="category-card__image">
            <img [src]="item.image" alt="{{ item.title }}" />
          </div>
          <div class="category-card__content">
            <h3>{{ item.title }}</h3>
            <p class="offer">{{ item.offer }}</p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- PRODUCTS -->

</main>

<app-footer></app-footer>