<aside class="profile-sidebar">

    <div class="profile-sidebar__user">
        <div class="avatar">👤</div>
        <h3>Julianne Moore</h3>
    </div>

    <ul class="profile-sidebar__menu">
        <li routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Personal Info
        </li>
        <li routerLink="/address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Manage Address
        </li>
        <li>My Orders</li>
        <li>My Wishlist</li>
        <li>My Cart</li>
        <li>Saved Payment Methods</li>
        <li>Logout</li>
        <li class="danger">Delete Account</li>
    </ul>

</aside>