<aside class="profile-sidebar">

    <div class="profile-sidebar__user">
        @if (userData) {
        <div class="avatar">{{ userData.firstName[0] | uppercase }}</div>
        <h3>{{ userData.firstName }} {{ userData.lastName }}</h3>
        } @else {
        <div class="avatar">👤</div>
        <h3>Loading...</h3>
        }
    </div>

    <ul class="profile-sidebar__menu">
        <li routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Personal Info
        </li>
        <li routerLink="/address" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Manage Address
        </li>
        <li routerLink="/ordered-list">My Orders</li>
        <li routerLink="/wishlist">My Wishlist</li>
        <li routerLink="/cart">My Cart</li>
        <li>Saved Payment Methods</li>
        <li (click)="onLogoutClick()">Logout</li>
        <li class="danger">Delete Account</li>
    </ul>

</aside>