/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #7b1e3a;
  --background: #f4eff1;
  --surface: #ffffff;

  --text-primary: #2b1a1d;
  --text-secondary: #6d5c60;

  --border: #e6dadd;
  --card-bg: #efe7e9;
}

.dark-theme {
  --background: #121212;
  --surface: #1e1e1e;

  --text-primary: #ffffff;
  --text-secondary: #aaaaaa;

  --border: #333;
  --card-bg: #2a2a2a;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Manrope', sans-serif;
}